<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031348011081-uue8e3jjbdl8rkk7aa0hrsr6c8arfr2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031348011081-uue8e3jjbdl8rkk7aa0hrsr6c8arfr2r</string>
	<key>API_KEY</key>
	<string>AIzaSyAqA8Yw36NHqZ-I-fCPxS0exOMiyV3f_6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1031348011081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nostranonfe</string>
	<key>PROJECT_ID</key>
	<string>nostranonfe</string>
	<key>STORAGE_BUCKET</key>
	<string>nostranonfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031348011081:ios:adfd01fe36895b6dde3f98</string>
</dict>
</plist>